/*---   Photo by 
Markus Spiske on Unsplash
Photo by Jessica Lewis from Pexels
Image by <a href="https://pixabay.com/users/3mikey5000-2607969/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2426328">3mikey5000</a> 
from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2426328">Pixabay</a>



used for background---*/
@media only screen and (max-width: 600px) {
    body {
      color:red;
      
    }
    h1{
        
    }
    .profile{
        padding-top: 15%;
    }

    .mobi{
        margin-top: 40px;
        margin-left: -30px;
    }
    .desk{
        margin-left: -30px;
    }
    .pro-info{
        font-size: 1em;
        text-align: left;
    }
}