/*---   Photo by 
Markus Spiske on Unsplash
Photo by Jessica Lewis from Pexels
Image by <a href="https://pixabay.com/users/3mikey5000-2607969/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2426328">3mikey5000</a> 
from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2426328">Pixabay</a>



used for background---*/
@media only screen and (max-width: 600px) {
    body {
      color:red;
      
    }
    h1{
        
    }
    .profile{
        padding-top: 15%;
    }

    .mobi{
        margin-top: 40px;
        margin-left: -30px;
    }
    .desk{
        margin-left: -30px;
    }
    .pro-info{
        font-size: 1em;
        text-align: left;
    }

    /*-------About Me-------*/
    .formN label,input{
        width:100%;
        font-size: 0.75em;
    }
    .form__text{
        font-size: .8em;
    }
    /*-------Navigation Bar-------*/
    .burger{
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
    }
    body{
        overflow-x: hidden;
    }
    .navi .dropdown{
        position: absolute;
        top:10vh;
        right: 0px;
        width: 100px;
        background-color: black;
        height: 90vh;
        z-index: 2;
        width: 100vw;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .navi .dropdown li{
        opacity: 0;
    }
    .bg-dark {
        background-color: #343a40!important;
        height: 10vh;
    }
    .navi-active{
        transform: translateX(0%);
    }

    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
}